.mat-list-item {
    color: rgb(147, 147, 204); 
    margin-top: 2rem;
}

.mat-list-item a {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.mat-list-item .mat-icon {
    margin-right: 8px;
}