<form #form="ngForm" [formGroup]="cvForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="fullName">Enter full name</label>
        <input formControlName="fullName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Enter email</label>
        <input formControlName="email" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="companyName">Enter companyName</label>
        <input formControlName="companyName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="position">Enter position</label>
        <input formControlName="position" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="position">Enter experience</label>
        <input formControlName="experience" type="text" class="form-control">
    </div>
    <div formGroupName="education">
        <div class="form-group">
            <label for="uni">Enter uni</label>
            <input formControlName="uni" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="school">Enter school</label>
            <input formControlName="school" type="text" class="form-control">
        </div>
    </div>
    <button [disabled]="!form.valid" class="btn btn-dark col-md-12">Submit</button>
    <button type="button" (click)="setDefaultValues()" class="btn btn-dark col-md-12">Set Default Values</button>
</form>
