<form #form="ngForm" [formGroup]="cvForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
        <mat-label for="roomType">Type</mat-label>
        <input matInput  class="form-control" id="roomType" type="text" formControlName="roomType">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="facilities">Facilities</mat-label>
        <input class="form-control" id="facilities" matInput type="text" formControlName="facilities">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="view">View</mat-label>
        <input class="form-control" id="view" matInput type="text" formControlName="view">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="sale">Sale</mat-label>
        <input class="form-control" id="sale"  matInput  matInputtype="text" formControlName="sale">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="reserveDates">ReserveDates</mat-label>
        <input class="form-control" id="reserveDates" matInput type="text" formControlName="reserveDates">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label for="prise">Prise</mat-label>
        <input class="form-control" id="prise" matInput type="text" formControlName="prise">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="smoking">Smoking</mat-label>
        <input class="form-control" id="smoking" matInput type="text" formControlName="smoking">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="animals">Animals</mat-label>
        <input class="form-control" id="animals" matInput type="text" formControlName="animals">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label for="pictures">Pictures</mat-label>
        <input class="form-control" id="pictures" matInput type="text" formControlName="pictures">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="children">Children</mat-label>
        <input class="form-control" id="children" matInput type="text" formControlName="children">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
    <button mat-raised-button color="primary" type="button" (click)="update()">Update</button>
</form>


<!-- <div class="example-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
      </form>
    </div>
  </div> -->