<mat-sidenav-container class="example-container">
    <mat-sidenav opened #sidenav [mode]="mode.value">
        <mat-nav-list>
            <app-dashboard></app-dashboard>
            <app-hotels></app-hotels>
            <app-rooms></app-rooms>
            <app-sales></app-sales>
            <app-users></app-users>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="menuicon">
        <p><button mat-button (click)="sidenav.toggle()">
                <mat-icon>{{menuIcon}}</mat-icon>
            </button></p>
    </mat-sidenav-content>
</mat-sidenav-container>