.example-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
}

.mat-sidenav {
    background-color: rgb(30, 30, 45);
}


.active {
    background-color: rgb(219, 20, 48);
}
