<div class="cardsArea">
  <div class="demo-button-container">
    <a routerLink="/main/reavtive/{{key}}">
      <button color="primary" mat-raised-button class="demo-button">
        <mat-icon matSuffix>add</mat-icon>Add room
      </button>
    </a>
  </div>
  <mat-card *ngFor="let room of activeRoom; let i = index" class="example-card">
    <app-carousel [slides]="room.pictures"></app-carousel>
    <mat-card-header>
      <mat-card-title>{{room.roomType}}</mat-card-title>
      <mat-card-subtitle>
        <p *ngFor="let facil of room.facilities">{{facil}}</p>
        <!-- <mat-icon *ngIf="hotel.stars >= 1" matSuffix>star_rate</mat-icon>
          <mat-icon *ngIf="hotel.stars >= 2" matSuffix>star_rate</mat-icon>
          <mat-icon *ngIf="hotel.stars >= 3" matSuffix>star_rate</mat-icon>
          <mat-icon *ngIf="hotel.stars >= 4" matSuffix>star_rate</mat-icon>
          <mat-icon *ngIf="hotel.stars == 5" matSuffix>star_rate</mat-icon> -->
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="address">
        <p>
          Size: {{room.size}}
        </p>
        <p>
          View: {{room.view}}
        </p>
        <p>
          Smoking: {{room.smoking}}
        </p>
        <p>
          Parking: {{room.parking}}
        </p>
        <p>
          animals: {{room.animals}}
        </p>
      </div>

      <div class="contactInfo">
        Children: <p>
          to Six Years Old: {{room.children.toSixYearsOld | percent}},
          from Six To Tvelve {{room.children.fromSixToTvelve | percent}}
        </p>
        Prise: <p>{{room.prise | currency}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="getInfoToupdate(key)" mat-raised-button color='accent'>Update</button>
      <button (click)="deleteRoom(i)" mat-raised-button color='warn'>Delete</button>
    </mat-card-actions>

  </mat-card>


</div>